<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nairteok</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>
<body>
  <main class="container">
  <hgroup>
    <h1 style="margin-bottom: 0rem;">Nairteok</h1>
    <h5 style="margin-bottom: 0.5rem; color: white;">Greate job explorer</h5>
  </hgroup>
  <form action="/search">
    <input type="text" name="q" placeholder="What job do you want?" 
autocomplete="off" list="lang" required>
    <button type="submit">Search</button>
  </form>
  </main>
  <datalist id="lang">
    <option value="python"/>
    <option value="flask"/>
    <option value="django"/>
    <option value="golang"/>
    <option value="javascript"/>
    <option value="rust"/>
    <option value="java"/>
    <option value="c++"/>
    <option value="c"/>
    <option value="c#"/>
    <option value="ruby"/>
    <option value="kotlin"/>
  </datalist>
</body>
</html>